<a class="tag donation" title='Donate' href='https://ko-fi.com/SWW13'>
  <img src='https://storage.ko-fi.com/cdn/cup-border.png' style="height: 11px; margin-top: 3px; border: none;">
</a>
<a class="tag report-issue" title="Report Issue" href='https://gitlab.com/SWW13/foundryvtt-stairways/-/issues'>
  <i class="fab fa-gitlab"></i>
</a>
